.App {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/* whole-content */
.whole-content{
  width: 1000px;
}

.biasnavbar {
  width: 100%;
}

.App img {
  width: 200px;
  height: 100px;
}

.App span {
  font-size: 50px;
}

.shift-details {
  margin: 20px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shift-elements {
  padding: 20px;
  border-style: solid;
  
}

#plan{
  color: green;
  font-weight: 600;
  font-size:larger;
  text-align: center;
}

#complete{
  color: red;
  font-weight: 400;
  font-size:medium;
  text-align: center;
}

#targetAchieve{
  color:brown;
  font-size: larger;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}

.shift-elements header {
  font-size: large;
  font-weight: 800;
}

.name-list {
  margin: 10px;
  margin-top: 15px;
  color:brown;
  font-weight: 600;
}

.shift-elements 
table,
th,
td {
  /* border: 1px solid black; */
  /* border-collapse: collapse; */
  padding: 10px;
}


/* Recipe Details CSS */

.recipe-details-heading {
  display: block;
  /* margin: 20px; */
  width: 1000px;
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
  color: pink;
  background-color: rgb(10, 116, 236);
}

.recipe-details {
  margin: 20px;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-style: solid;
}

.recipe-details-contents {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  width: 1000px;
  justify-content: space-between;
}

.recipe-details-elements{
  margin-left: 30px;
}

.recipe-details-elements span{
  font-size: x-large;
  font-weight: 500;
}

.recipe-details-elements p{
  display: flex;
  margin-left: 20px;
  font-size: x-large;
  font-weight: 400;
}

.recipe-details-table{
  margin-right: 50px;
  
}

.recipe-details-table  th, td {
  padding: 20px;
  border: none;
  text-align: center;
}

#angle{
color: red;
font-weight: 700;
}
#width{
color: green;
font-weight: 700;
}
#cut{
  font-weight: 700;
}

/* visualization */
.visualization{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.visualization-elements{
  display: flex;
  width: 1000px;
  justify-content: space-around;
}


/* hourBasedProduction */

.hourBasedProduction{
  width: 450px;
}

.hourBasedProduction-heading{
  display: block;
  /* margin: 20px; */
  /* width: 1000px; */
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
  color: pink;
  background-color: rgb(10, 116, 236);
}



/* machineDownTime */
.machineDownTime-heading{
  display: block;
  /* margin: 20px; */
  /* width: 1000px; */
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
  color: pink;
  background-color: rgb(10, 116, 236);
}

.machineDownTime{
  width: 450px;
}

/* MachineLossTime-heading */
.MachineLossTime-heading{
  display: block;
  /* margin: 20px; */
  /* width: 1000px; */
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
  color: pink;
  background-color: rgb(10, 116, 236);
}
.machineLossTime{
  width: 450px;
  /* height:500px */
}

/* machineLossTime */
.machineLossTime{
  display: flex;
  margin: 20px;
  width: 450px;
  height: 340px;
  flex-direction: column;
  align-items: center;
}

/* visualization-machineLossTime */
.visualization-machineLossTime{
  display: flex;
  flex-direction: column;
  align-items: center;
}